/demoprojectMohsinEjb/demoprojectMohsinEjb-war/build/
/demoprojectMohsinEjb/demoprojectMohsinEjb-ejb/dist/
/demoprojectMohsinEjb/demoprojectMohsinEjb-war/dist/
/demoprojectMohsinEjb/demoprojectMohsinEjb-ejb/build/